

.contact {
  min-height: 50vh;
  margin: auto;
  max-width: 1000px;
  padding-top: 0; /* Remove or set to a small value */
}

.email p {
    padding-left: 8.5em;
    margin: auto;
    padding-top: 5px;
}